@import "{}/imports/plugins/included/default-theme/client/styles/variables.less";

.product-rating-value {
  display: flex;
  align-items: center;
}

.product-rating-stars {
  margin-left: 1rem;
}

.product-rating-count {
  margin: 0;
}
